<div class="main">

    <table>
        <thead>
            <td>Confirmed Cases</td>
            <td>Recovered</td>
            <td>Total Deaths</td>
            <td>Critical</td>
        </thead>
            
        <tr>
            <td> <%= data.confirmed %> </td>
            <td> <%= data.recovered %> </td>
            <td> <%= data.deaths %> </td>
            <td> <%= data.critical %> </td>

        </tr>
    </table>
</div>